
#google-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5in;
}
#about {
   font-style: arial;
   margin-left: 25px;
   color:rgb(75, 73, 73);
    text-decoration: none;
    text-transform:none;
}
#store {
    font-style: arial;
    margin-left: 20px;
    color:rgb(75, 73, 73);
    text-decoration: none;
    text-transform:none;
}
#top-right {
    display: flex;
    justify-content: flex-end;
}

#gmail {
    font-style: arial;
    margin-right: 20px;
    color:rgb(75, 73, 73);
    text-decoration: none;
    text-transform:none;
}
#images {
    font-style: arial;
    color:rgb(75, 73, 73);
    text-decoration: none;
    text-transform:none;
}

#header{
    display: flex;
    justify-content: space-between;
}
#search input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgb(206, 202, 202);;
    border-radius: 25px;
    width: 500px;
    background-color: #f1f1f1;
} 
#center{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height:80vh;

}
#nine-dots{
    opacity: 50%;
}
#search img{
    position:relative;
    right:515px;
    top:15px;
}
#search-button{
    padding: 10px;
    font-size: 12px;
    border: 1px solid rgb(206, 202, 202);
    background-color: #f1f1f1;
}
#lucky-button{
    padding: 10px;
    font-size: 12px;
    border: 1px solid rgb(206, 202, 202);
    background-color: #f1f1f1;
}
#footer{
    text-align: center;
    color:rgb(104, 101, 101);
    font-style: arial;
    margin-bottom: 0px;
    background-color:rgb(240, 240, 240);
    padding-top: 15px;
    padding-bottom: 65px;
}
#sign-in{
    color:white;
    background-color:rgb(54, 123, 228);
    padding: 10px;
    width: 95px;
    border-radius: 8px;
    font-size: 14px;
}
#leaf {
    padding-right: 10px;
    width: 15px;
    height: 15px;
}